@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewBag.Title = "Home Page";
}
    
    <ul class="list-group float-left">
        <li class = "list-group-item font-weight-bolder">Categories</li>
        @foreach (var category in Model.BookCategories)
        {
            <li class="list-group-item">
                <a href="">@category.Name</a>
            </li>
        }
    </ul>
    <h1>Books</h1>

<div class="col-md-3 float-left">
    @foreach (var book in Model.Books)
    {
    <div>
        <strong>Title:</strong> <a href="@book.Url">@book.Title</a> 
        <div><strong>Category:</strong> @book.Category</div>
        <div><strong>Author:</strong> @book.Author</div>
        <hr />
    </div>
    }
</div>



