@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-image: url(https://tapetaposzter.hu/img/49683/3688/3688.jpg?time=1544825485);">
    <div class="container">
        <div class="text-white text-center text-wrap py-5 px-4">
            <h2 class="pt-3 mb-5 font-bold"><strong>ReadIt v1.0</strong></h2>
            <p class="mx-5 mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <div class="panel panel-default">
                    <div class="panel-heading">Top Rated Books</div>
                    <div class="panel-body">
                        <div class="pane"></div>
                        <ul class="list-group">
                            @foreach (var book in Model.TopRatedBooks)
                            {
                                <li class="list-group-item">
                                    <div class="bg-white card order-list shadow-sm">
                                        <div class="gold-members p-4">
                                            <div class="media">
                                                <img class="mr-4" src="@book.UrlBookCover" alt="Cover image" width="120" />
                                                <div class="media-body">
                                                    <span class="float-right text-info">
                                                        Uploaded on <br />
                                                        @book.CreatedOn.ToShortDateString()
                                                    </span>
                                                    <h6 class="mb-2">
                                                        <a href="@book.UrlReview" class="text-dark">
                                                            <strong>@book.Title</strong> <br />
                                                            By
                                                            @foreach (var author in book.Authors)
                                                            {
                                                                <em>@author.Name</em>
                                                                <br />
                                                            }
                                                        </a>
                                                    </h6>
                                                    <p class="text-gray mb-1">
                                                        <i class="icofont-location-arrow"></i>
                                                        Genre: @book.Category <br />
                                                        Language: @book.Language <br />
                                                        Raiting: @book.Raiting <br />
                                                    </p>
                                                    <hr>
                                                    <div class="float-right">
                                                        <a class="btn btn-sm btn-outline-primary" href="#">
                                                            Go to this book
                                                        </a>
                                                        <a class="btn btn-sm btn-primary" href="#">
                                                            Add to my shelf
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bs-component">
                <div class="panel panel-default">
                    <div class="panel-heading">Latest Uploads</div>
                    <div class="panel-body">
                        <div class="pane"></div>
                        <ul class="list-group">
                            @foreach (var book in Model.LatestUploadedBooks)
                            {
                                <li class="list-group-item">
                                    <div class="bg-white card  order-list shadow-sm">
                                        <div class="gold-members p-4">
                                            <div class="media">
                                                <img class="mr-4" src="@book.UrlBookCover" alt="Cover image" width="120" />
                                                <div class="media-body">
                                                    <span class="float-right text-info">
                                                        Uploaded on <br />
                                                        @book.CreatedOn.ToShortDateString()
                                                    </span>
                                                    <h6 class="mb-2">
                                                        <a href="@book.UrlReview" class="text-dark">
                                                            <strong>@book.Title</strong> <br />
                                                            By
                                                            @foreach (var author in book.Authors)
                                                            {
                                                                <em>@author.Name</em>
                                                                <br />
                                                            }
                                                        </a>
                                                    </h6>
                                                    <p class="text-gray mb-1">
                                                        <i class="icofont-location-arrow"></i>
                                                        Genre: @book.Category <br />
                                                        Language: @book.Language <br />
                                                        Raiting: @book.Raiting <br />
                                                    </p>
                                                    <hr>
                                                    <div class="float-right">
                                                        <a class="btn btn-sm btn-outline-primary" href="#">
                                                            Go to this book
                                                        </a>
                                                        <a class="btn btn-sm btn-primary" href="#">
                                                            Add to my shelf
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





