@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewBag.Title = "Home Page";
}

    <ul class="list-group float-left">
        <li class="list-group-item font-weight-bolder">Top Rated Books</li>
        @foreach (var book in Model.TopRatedBooks)
        {
    <li class="list-group-item">
        <span class="font-weight-bold">Cover:</span> <img src="#" alt="SomeImage" /> <br />
        <span class="font-weight-bold">Title:</span> @book.Title <br />
        <span class="font-weight-bold">Author:</span> @book.Author <br />
        <span class="font-weight-bold">Language:</span> @book.Language <br />
        <span class="font-weight-bold">Raiting:</span> @book.Raiting <br />
        <span class="font-weight-bold">Uploaded:</span> @book.CreatedOn.ToShortDateString()
    </li>
        }
    </ul>

    <ul class="list-group float-left">
        <li class="list-group-item font-weight-bolder">Latest Uploads</li>
        @foreach (var book in Model.LatestUploadedBooks)
        {
    <li class="list-group-item">
        <span class="font-weight-bold">Cover:</span> <img src="#" alt="SomeImage" /> <br />
        <span class="font-weight-bold">Title:</span> @book.Title <br />
        <span class="font-weight-bold">Author:</span> @book.Author <br />
        <span class="font-weight-bold">Language:</span> @book.Language <br />
        <span class="font-weight-bold">Raiting:</span> @book.Raiting <br />
        <span class="font-weight-bold">Uploaded:</span> @book.CreatedOn.ToShortDateString()
    </li>
        }
    </ul>




